.cityTitle {
    border-style: solid none solid none;
    border-width: 1px;
    max-width: 782px;    
}

.cityTitle h1, .cityTitle h2 {
    padding-left: 25px;
}

.todayOuter {
    border-style: none none solid none;
    border-width: 1px;
    float: left;    
    max-width: 782px;
}

.todayInner {
    padding: 0px 15px 5px 15px;
    font-size: 14px;
}

.futureOuter {
    border-style: none none solid none;
    border-width: 1px;
    display: inline-flex;   
    float: left;
    clear: both;    
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 782px;
    background-color: #eee;
}

.futureInner {
    padding: 5px 5px 0px 5px;
    font-size: 12px;
    width: 65px;
}

.futureInner img {
    width: 35px;
}

.listWrapperToday {
    display: inline-flex;
    position: relative;
    /*background-color: lightsteelblue;*/
    min-width: 782px;
    padding-left: 12px;
}

.listWrapperFuture {
    display: inline-flex; 
}

.dateWrapperToday {
    /*border-style: none none solid none;*/
    border-width: 1px;
    padding-left: 25px;
    height: 60px;
    /*background-color: lightblue;*/
}

.dateWrapperToday h3 {
    width: 50%;
    float: left;
}

.dateWrapperToday h4 {
    width: 50%;
    float: right;
}

.dateWrapperFuture {
    width: 175px;    
}

.dateWrapperFuture h4 {
    padding-left: 20px;
    font-size: 14px;
    margin-top: 5px;
}

.timeWrapper {
    font-weight: bold;
}